<div id="modalPasswordConfirmation" tabindex="-1" role="dialog" aria-labelledby="modal_passwordconfirmation" aria-hidden="true">
  <div class="modal-dialog modalBg" role="document">
    <div>
      <div class="modal-header">
        <div class="bubble"><i class="icon-sphere"></i></div>
      </div>
      <div class="modal-body">
        <h5 class="modal-title text-uppercase" id="modalReceive" *ngIf="!startingTumble">Password Confirmation</h5>
        <form class="col-10 mt-4 offset-1" [formGroup]="walletPasswordForm" *ngIf="!startingTumble">
          <div class="form-group clearfix">
            <p class="text-muted text-center">
              <em>By starting the Breeze Privacy Protocol you are subjecting your entire balance {{balance | coinNotation}}{{coinUnit}} to be shuffled by the Breeze Privacy Protocol.</em>
            </p>
            <p class="text-muted text-center">
              <em>Each transaction will be of {{denomination}}{{coinUnit}} and will incur a fee of {{(denomination * fee)}}{{coinUnit}}. Standard bitcoin transaction fees will also apply.</em>
            </p>
            <p class="text-muted text-center">
              <em>Enter your password to continue.</em>
            </p>
          </div>
          <input type="password" class="form-control" formControlName="walletPassword"  placeholder="Enter password.">
          <div *ngIf="formErrors.walletPassword" class="form-control-feedback">{{ formErrors.walletPassword }}</div>
          <div class="text-center mt-3 col-8 mx-auto">
            <button type="button" class="btn btn-link btn-block" (click)="activeModal.close('Close click')">Cancel</button>
            <button type="button" class="btn btn-lg btn-primary btn-block" [disabled]="!walletPasswordForm.valid" (click)="onConfirm()">Confirm</button>
          </div>
          <br>
        </form>
        <div *ngIf="startingTumble d-block">
          <div class="loaderContainer col d-block my-5 mb-3">
            <div class="loader d-block row">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div> <!-- /loader -->
          </div>
          <div class="well mt-3 col">
            <p class="text-center help">One moment...</p>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
