<div class="card" (click)="openTransactionDetailDialog(transaction)">
    <div class="card-block text-nowrap">
        <ul class="list-inline row">
            <li class="list-inline-item hidden-xs-down col-3 text-uppercase align-bottom" [ngClass]="{'text-danger': transaction.transactionType == 'send', 'text-success' : transaction.transactionType == 'received' }">{{ transaction.transactionType === 'send' ? 'SENT' : 'RECEIVED' }}</li>
            <li class="list-inline-item col-4 amount text-left align-baseline">
                <span *ngIf="transaction.transactionType === 'received'" class="text-success">+</span>
                <span *ngIf="transaction.transactionType === 'send'" class="text-danger">-</span>
                {{ transaction.transactionAmount + transaction.transactionFee | coinNotation }}
                <small class="text-uppercase">{{ coinUnit }}</small>
            </li>
            <li class="list-inline-item col amount text-left align-baseline">
                <span *ngIf="transaction.transactionConfirmedInBlock" class="badge badge-success text-capitalize">Confirmed</span>
                <span *ngIf="!transaction.transactionConfirmedInBlock" class="badge badge-warning text-capitalize">Pending</span>
            </li>
            <li class="list-inline-item col text-right align-baseline transactionDate">{{ transaction.transactionTimestamp * 1000 | date:'medium' }}</li>
        </ul>
    </div>
</div>