<div id="confirmDialogGeneric" tabindex="-1">
    <div class="modal-dialog modalBg">
      <div>
        <div class="modal-header">
          <div class="bubble"><i class="ico-warning"></i></div>
        </div>
        <div class="modal-body">
          <h5 class="modal-title text-uppercase" id="modalReceive">{{ title }}</h5>
          <div [innerHTML]="body">

          </div>
          <p class="text-center">
              <button type="button" class="btn btn-lg btn-link" (click)="activeModal.close(false)">{{noLabel}}</button>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-lg btn-primary" (click)="activeModal.close(true)">{{yesLabel}}</button>
        </div>
      </div>
    </div>
  </div>
