<div tabindex="-1" role="dialog" aria-hidden="true" style="background: white">
    <div class="modal-dialog modalBg" role="document" style="margin-left:7px;margin-right:7px;margin-top:54px">
      <div class="modal-body">
        <label style="margin-top:3px; margin-bottom:5px; font-size:13px; margin-left:-34px; margin-right:-34px;">
            {{licenseText}}
        </label>
      </div>    
    </div>
    <button type="button" class="btn btn-sm btn-primary" style="margin: auto; display:block"
                data-dismiss="modal" aria-label="Close" (click)="okClicked()">OK</button>
</div>
